@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido/a!</h1><br />
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Alumna</strong></td>
                <td>Glendy Lisbeth Argueta Rivera</td>
            </tr>
            <tr>
                <td><strong>Carnet</strong></td>
                <td>AR100621</td>
            </tr>
            <tr>
                <td><strong>Materia</strong></td>
                <td>Implementación de Lenguajes de Programación para Negocios</td>
            </tr>
            <tr>
                <td><strong>Fecha de entrega</strong></td>
                <td>15/04/2024</td>
            </tr>
        </tbody>
    </table><br />

    <div class="arrow-animation">
        <a href="@Url.Action("Index", "Personas")" class="btn btn-info">Ir al ejercicio de Entity Framework</a>
    </div>
</div>